<div class="posts">
    {{#each posts}}
    <div class="post">
        <h2>
            <a href="/post/{{id}}">{{title}}</a>
        </h2>
        <div>
            {{content}}
        </div>
        <div>
            Posted by:
            {{User.username}}
            On:
            {{format_date date_created}}
        </div>
        {{/each}}

    </div>